body {
    background-color: white;
}

.navBar {
    background-color: #8338EC;
    height: 90px;
}

.navDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.navBar li a {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-left: 70px;
    text-decoration: none;
    font-size: 25px;
}
.bio
{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-top: 130px;
    
}
.bio h1{
    font-size: 75px;
    flex-wrap: wrap;
    width:1000px;
}

#profile {
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 5px solid black;
}
.aboutMe h2{
    display: flex;
    justify-content: center;
    align-items: center;      
    margin-top: 250px;
    height: 100px;
    background-color: #8338EC;
    color: white;
    font-size: 65px;
}
.aboutMe p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 45px;
    padding: 0 120px;
}
.aboutMe #skills{
    margin-top: 100px;
}
.aboutMe ul{
    list-style-type: none;
    font-size: 55px;
}

#rowOne{
    display:inline-block;
    padding: 0 130px;
}
#rowTwo{
    display:inline-block;
    padding: 0 100px;
    margin-top: 50px;
}
.links{
    background-color: #8338EC;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: 750px;
}
.links img{
    width: 400px;
    height: 400px ;
}
.links #resume{
    height: 500px;
}
html{
    scroll-behavior: smooth;
}
.links img:hover{
    transition: all 2s;
    transform:scale(1.2);
}
.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: 750px;
}
.contact img{
    width: 250px;
    height: 250px;
}
.contact img:hover{
    transition: all 2s;
    transform:scale(1.2);
}
/*#qr{
    padding-left: 800px;
}
#qr img{
    width: 20%;
    height: 20%;
}*/
#qr{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
    padding-left: 800px;
}
 
